<h1>Your Following's Recent Commits</h1>

<table class="table">
  <tr>
    <th>Author</th>
    <th>Repository</th>
    <th>Commit Date</th>
    <th>Message</th>
  </tr>
  <% @commits.each do |commit| %>
    <tr>
      <td><%= commit.author_name %></td>
      <td><%= commit.repo %></td>
      <td><%= commit.format_date %></td>
      <td><%= commit.message %></td>
    </tr>
  <% end %>
</table>
