---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/lao9/repos?access_token=<ACCESS_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4803'
      X-Ratelimit-Reset:
      - '1494522927'
      Etag:
      - W/"d512ef1f8d7730bac21efcb273dc5c3f"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - "<GITHUB_ID>"
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/4068853/repos?access_token=<ACCESS_TOKEN>&page=2>;
        rel="next", <https://api.github.com/user/4068853/repos?access_token=<ACCESS_TOKEN>&page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":90786855,"name":"api_curious_github_loliveri","full_name":"lao9/api_curious_github_loliveri","owner":{"login":"lao9","id":4068853,"avatar_url":"https://avatars1.githubusercontent.com/u/4068853?v=3","gravatar_id":"","url":"https://api.github.com/users/lao9","html_url":"https://github.com/lao9","followers_url":"https://api.github.com/users/lao9/followers","following_url":"https://api.github.com/users/lao9/following{/other_user}","gists_url":"https://api.github.com/users/lao9/gists{/gist_id}","starred_url":"https://api.github.com/users/lao9/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/lao9/subscriptions","organizations_url":"https://api.github.com/users/lao9/orgs","repos_url":"https://api.github.com/users/lao9/repos","events_url":"https://api.github.com/users/lao9/events{/privacy}","received_events_url":"https://api.github.com/users/lao9/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/lao9/api_curious_github_loliveri","description":null,"fork":false,"url":"https://api.github.com/repos/lao9/api_curious_github_loliveri","forks_url":"https://api.github.com/repos/lao9/api_curious_github_loliveri/forks","keys_url":"https://api.github.com/repos/lao9/api_curious_github_loliveri/keys{/key_id}","collaborators_url":"https://api.github.com/repos/lao9/api_curious_github_loliveri/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/lao9/api_curious_github_loliveri/teams","hooks_url":"https://api.github.com/repos/lao9/api_curious_github_loliveri/hooks","issue_events_url":"https://api.github.com/repos/lao9/api_curious_github_loliveri/issues/events{/number}","events_url":"https://api.github.com/repos/lao9/api_curious_github_loliveri/events","assignees_url":"https://api.github.com/repos/lao9/api_curious_github_loliveri/assignees{/user}","branches_url":"https://api.github.com/repos/lao9/api_curious_github_loliveri/branches{/branch}","tags_url":"https://api.github.com/repos/lao9/api_curious_github_loliveri/tags","blobs_url":"https://api.github.com/repos/lao9/api_curious_github_loliveri/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/lao9/api_curious_github_loliveri/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/lao9/api_curious_github_loliveri/git/refs{/sha}","trees_url":"https://api.github.com/repos/lao9/api_curious_github_loliveri/git/trees{/sha}","statuses_url":"https://api.github.com/repos/lao9/api_curious_github_loliveri/statuses/{sha}","languages_url":"https://api.github.com/repos/lao9/api_curious_github_loliveri/languages","stargazers_url":"https://api.github.com/repos/lao9/api_curious_github_loliveri/stargazers","contributors_url":"https://api.github.com/repos/lao9/api_curious_github_loliveri/contributors","subscribers_url":"https://api.github.com/repos/lao9/api_curious_github_loliveri/subscribers","subscription_url":"https://api.github.com/repos/lao9/api_curious_github_loliveri/subscription","commits_url":"https://api.github.com/repos/lao9/api_curious_github_loliveri/commits{/sha}","git_commits_url":"https://api.github.com/repos/lao9/api_curious_github_loliveri/git/commits{/sha}","comments_url":"https://api.github.com/repos/lao9/api_curious_github_loliveri/comments{/number}","issue_comment_url":"https://api.github.com/repos/lao9/api_curious_github_loliveri/issues/comments{/number}","contents_url":"https://api.github.com/repos/lao9/api_curious_github_loliveri/contents/{+path}","compare_url":"https://api.github.com/repos/lao9/api_curious_github_loliveri/compare/{base}...{head}","merges_url":"https://api.github.com/repos/lao9/api_curious_github_loliveri/merges","archive_url":"https://api.github.com/repos/lao9/api_curious_github_loliveri/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/lao9/api_curious_github_loliveri/downloads","issues_url":"https://api.github.com/repos/lao9/api_curious_github_loliveri/issues{/number}","pulls_url":"https://api.github.com/repos/lao9/api_curious_github_loliveri/pulls{/number}","milestones_url":"https://api.github.com/repos/lao9/api_curious_github_loliveri/milestones{/number}","notifications_url":"https://api.github.com/repos/lao9/api_curious_github_loliveri/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/lao9/api_curious_github_loliveri/labels{/name}","releases_url":"https://api.github.com/repos/lao9/api_curious_github_loliveri/releases{/id}","deployments_url":"https://api.github.com/repos/lao9/api_curious_github_loliveri/deployments","created_at":"2017-05-09T20:02:25Z","updated_at":"2017-05-09T20:28:41Z","pushed_at":"2017-05-11T01:36:22Z","git_url":"git://github.com/lao9/api_curious_github_loliveri.git","ssh_url":"git@github.com:lao9/api_curious_github_loliveri.git","clone_url":"https://github.com/lao9/api_curious_github_loliveri.git","svn_url":"https://github.com/lao9/api_curious_github_loliveri","homepage":null,"size":75,"stargazers_count":1,"watchers_count":1,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":1,"forks":0,"open_issues":1,"watchers":1,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":82723832,"name":"black-thursday-project","full_name":"lao9/black-thursday-project","owner":{"login":"lao9","id":4068853,"avatar_url":"https://avatars1.githubusercontent.com/u/4068853?v=3","gravatar_id":"","url":"https://api.github.com/users/lao9","html_url":"https://github.com/lao9","followers_url":"https://api.github.com/users/lao9/followers","following_url":"https://api.github.com/users/lao9/following{/other_user}","gists_url":"https://api.github.com/users/lao9/gists{/gist_id}","s[...]
- request:
    method: get
    uri: https://api.github.com/repos/lao9/api_curious_github_loliveri/commits?access_token=<ACCESS_TOKEN>&author=lao9
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4802'
      X-Ratelimit-Reset:
      - '1494522927'
      Etag:
      - W/"81473be92bca43e6afb994c20931b698"
      Last-Modified:
      - Wed, 10 May 2017 22:25:54 GMT
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - "<GITHUB_ID>"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"sha":"34b984fe64bcb16d138888fdc91377ee106b2b01","commit":{"author":{"name":"Lauren
        Oliveri","email":"lauren.oliveri.9@gmail.com","date":"2017-05-10T22:25:54Z"},"committer":{"name":"GitHub","email":"noreply@github.com","date":"2017-05-10T22:25:54Z"},"message":"Merge
        pull request #3 from lao9/basic-user-profile\n\nFinish Thorough Testing of
        Basic User Profile","tree":{"sha":"522c5c47e0716d440e87974c131488b865e90fea","url":"https://api.github.com/repos/lao9/api_curious_github_loliveri/git/trees/522c5c47e0716d440e87974c131488b865e90fea"},"url":"https://api.github.com/repos/lao9/api_curious_github_loliveri/git/commits/34b984fe64bcb16d138888fdc91377ee106b2b01","comment_count":0},"url":"https://api.github.com/repos/lao9/api_curious_github_loliveri/commits/34b984fe64bcb16d138888fdc91377ee106b2b01","html_url":"https://github.com/lao9/api_curious_github_loliveri/commit/34b984fe64bcb16d138888fdc91377ee106b2b01","comments_url":"https://api.github.com/repos/lao9/api_curious_github_loliveri/commits/34b984fe64bcb16d138888fdc91377ee106b2b01/comments","author":{"login":"lao9","id":4068853,"avatar_url":"https://avatars1.githubusercontent.com/u/4068853?v=3","gravatar_id":"","url"[...]
- request:
    method: get
    uri: https://api.github.com/repos/lao9/black-thursday-project/commits?access_token=<ACCESS_TOKEN>&author=lao9
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4801'
      X-Ratelimit-Reset:
      - '1494522927'
    [...]
- request:
    method: get
    uri: https://api.github.com/repos/lao9/black_thursday_spec_harness/commits?access_token=<ACCESS_TOKEN>&author=lao9
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4800'
      X-Ratelimit-Reset:
      - '1494522927'
      Etag:
      - '"98f0c1b396a4e5d54f4d5fe561d54b44"'
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - "<GITHUB_ID>"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 11 May 2017 16:27:14 GMT
- request:
    method: get
    uri: https://api.github.com/repos/lao9/blogger/commits?access_token=<ACCESS_TOKEN>&author=lao9
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4799'
      X-Ratelimit-Reset:
      - '1494522927'
      Etag:
      -[...]
- request:
    method: get
    uri: https://api.github.com/repos/lao9/bootstrap_tutorial/commits?access_token=<ACCESS_TOKEN>&author=lao9
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4798'
      X-Ratelimit-Reset:
      - '1494522927'
      Et[...]
- request:
    method: get
    uri: https://api.github.com/repos/lao9/capture_pool/commits?access_token=<ACCESS_TOKEN>&author=lao9
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 409 Conflict
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4797'
      X-Ratelimit-Reset:
      - '1494522927'
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - "<GITHUB_ID>"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"message":"Git Repository is empty.","documentation_url":"https://developer.github.com/v3"}'
  recorded_at: Thu, 11 May 2017 16:27:15 GMT
- request:
    method: get
    uri: https://api.github.com/repos/lao9/career-development-curriculum/commits?access_token=<ACCESS_TOKEN>&author=lao9
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4796'
      X-Ratelimit-Reset:
      - '149452292[...]
- request:
    method: get
    uri: https://api.github.com/repos/lao9/challenges/commits?access_token=<ACCESS_TOKEN>&author=lao9
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4795'
      X-Ratelimit-Reset:
      - '1494522927'
      Etag:
    [...]
- request:
    method: get
    uri: https://api.github.com/repos/lao9/checks-for-understanding/commits?access_token=<ACCESS_TOKEN>&author=lao9
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4794'
      X-Ratelimit-Reset:
      - '1494522927'
  [...]
- request:
    method: get
    uri: https://api.github.com/repos/lao9/classroom_exercises/commits?access_token=<ACCESS_TOKEN>&author=lao9
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4793'
      X-Ratelimit-Reset:
      - '1494522927'
      E[...]
- request:
    method: get
    uri: https://api.github.com/repos/lao9/complete_me/commits?access_token=<ACCESS_TOKEN>&author=lao9
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4792'
      X-Ratelimit-Reset:
      - '1494522927'
      Etag:
   [...]
- request:
    method: get
    uri: https://api.github.com/repos/lao9/complete_me_spec_harness/commits?access_token=<ACCESS_TOKEN>&author=lao9
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4791'
      X-Ratelimit-Reset:
      - '1494522927'
      Etag:
      - '"98f0c1b396a4e5d54f4d5fe561d54b44"'
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - "<GITHUB_ID>"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 11 May 2017 16:27:17 GMT
- request:
    method: get
    uri: https://api.github.com/repos/lao9/credit_check/commits?access_token=<ACCESS_TOKEN>&author=lao9
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4790'
      X-Ratelimit-Reset:
      - '1494522927'
      Etag:
  [...]
- request:
    method: get
    uri: https://api.github.com/repos/lao9/credit_check_recheck/commits?access_token=<ACCESS_TOKEN>&author=lao9
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4789'
      X-Ratelimit-Reset:
      - '1494522927'
      [...]
- request:
    method: get
    uri: https://api.github.com/repos/lao9/event_manager/commits?access_token=<ACCESS_TOKEN>&author=lao9
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4788'
      X-Ratelimit-Reset:
      - '1494522927'
      Etag:
 [...]
- request:
    method: get
    uri: https://api.github.com/repos/lao9/exercisms/commits?access_token=<ACCESS_TOKEN>&author=lao9
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4787'
      X-Ratelimit-Reset:
      - '1494522927'
      Etag:
     [...]
- request:
    method: get
    uri: https://api.github.com/repos/lao9/flexbox-lightning-talk/commits?access_token=<ACCESS_TOKEN>&author=lao9
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4786'
      X-Ratelimit-Reset:
      - '1494522927'
    [...]
- request:
    method: get
    uri: https://api.github.com/repos/lao9/gear-up/commits?access_token=<ACCESS_TOKEN>&author=lao9
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4785'
      X-Ratelimit-Reset:
      - '1494522927'
      Etag:
      -[...]
- request:
    method: get
    uri: https://api.github.com/repos/lao9/git-er-done/commits?access_token=<ACCESS_TOKEN>&author=lao9
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4784'
      X-Ratelimit-Reset:
      - '1494522927'
      Etag:
      - '"98f0c1b396a4e5d54f4d5fe561d54b44"'
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - "<GITHUB_ID>"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 11 May 2017 16:27:20 GMT
- request:
    method: get
    uri: https://api.github.com/repos/lao9/homework/commits?access_token=<ACCESS_TOKEN>&author=lao9
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4783'
      X-Ratelimit-Reset:
      - '1494522927'
      Etag:
      [...]
- request:
    method: get
    uri: https://api.github.com/repos/lao9/http_yeah_you_know_me/commits?access_token=<ACCESS_TOKEN>&author=lao9
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4782'
      X-Ratelimit-Reset:
      - '1494522927'
     [...]
- request:
    method: get
    uri: https://api.github.com/repos/lao9/intro-to-ar/commits?access_token=<ACCESS_TOKEN>&author=lao9
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4781'
      X-Ratelimit-Reset:
      - '1494522927'
      Etag:
      - '"98f0c1b396a4e5d54f4d5fe561d54b44"'
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - "<GITHUB_ID>"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 11 May 2017 16:27:21 GMT
- request:
    method: get
    uri: https://api.github.com/repos/lao9/job-tracker/commits?access_token=<ACCESS_TOKEN>&author=lao9
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4780'
      X-Ratelimit-Reset:
      - '1494522927'
      Etag:
   [...]
- request:
    method: get
    uri: https://api.github.com/repos/lao9/knight_rider/commits?access_token=<ACCESS_TOKEN>&author=lao9
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4779'
      X-Ratelimit-Reset:
      - '1494522927'
      Etag:
      - '"98f0c1b396a4e5d54f4d5fe561d54b44"'
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - "<GITHUB_ID>"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 11 May 2017 16:27:22 GMT
- request:
    method: get
    uri: https://api.github.com/repos/lao9/lao9.github.io/commits?access_token=<ACCESS_TOKEN>&author=lao9
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4778'
      X-Ratelimit-Reset:
      - '1494522927'
      Etag:
[...]
- request:
    method: get
    uri: https://api.github.com/repos/lao9/league-manager/commits?access_token=<ACCESS_TOKEN>&author=lao9
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4777'
      X-Ratelimit-Reset:
      - '1494522927'
      Etag:
      - '"98f0c1b396a4e5d54f4d5fe561d54b44"'
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - "<GITHUB_ID>"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 11 May 2017 16:27:22 GMT
- request:
    method: get
    uri: https://api.github.com/repos/lao9/mix_master/commits?access_token=<ACCESS_TOKEN>&author=lao9
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4776'
      X-Ratelimit-Reset:
      - '1494522927'
      Etag:
      - '"98f0c1b396a4e5d54f4d5fe561d54b44"'
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - "<GITHUB_ID>"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 11 May 2017 16:27:23 GMT
- request:
    method: get
    uri: https://api.github.com/repos/lao9/night_writer/commits?access_token=<ACCESS_TOKEN>&author=lao9
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4775'
      X-Ratelimit-Reset:
      - '1494522927'
      Etag:
  [...]
- request:
    method: get
    uri: https://api.github.com/repos/lao9/pizza-customer/commits?access_token=<ACCESS_TOKEN>&author=lao9
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4774'
      X-Ratelimit-Reset:
      - '1494522927'
      Etag:
[...]
- request:
    method: get
    uri: https://api.github.com/repos/lao9/portfolios/commits?access_token=<ACCESS_TOKEN>&author=lao9
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4773'
      X-Ratelimit-Reset:
      - '1494522927'
      Etag:
    [...]
