---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/lao9/following?access_token=<ACCESS_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4996'
      X-Ratelimit-Reset:
      - '1494459582'
      Etag:
      - W/"0205cc741bfa2880af69121c7a26f84f"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - "<GITHUB_ID>"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"nickcherry","id":229477,"avatar_url":"https://avatars3.githubusercontent.com/u/229477?v=3","gravatar_id":"","url":"https://api.github.com/users/nickcherry","html_url":"https://github.com/nickcherry","followers_url":"https://api.github.com/users/nickcherry/followers","following_url":"https://api.github.com/users/nickcherry/following{/other_user}","gists_url":"https://api.github.com/users/nickcherry/gists{/gist_id}","starred_url":"https://api.github.com/users/nickcherry/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/nickcherry/subscriptions","organizations_url":"https://api.github.com/users/nickcherry/orgs","repos_url":"https://api.github.com/users/nickcherry/repos","events_url":"https://api.github.com/users/nickcherry/events{/privacy}","received_events_url":"https://api.github.com/users/nickcherry/received_events","type":"User","site_admin":false},{"login":"maxjacobson","id":1421211,"avatar_url":"https://avatars2.githubusercontent.com/u/1421211?v=3","gravatar_id":"","url":"https://api.github.com/users/maxjacobson","html_url":"https://github.com/maxjacobson","followers_url":"https://api.github.com/users/maxjacobson/followers","following_url":"https://api.github.com/users/maxjacobson/following{/other_user}","gists_url":"https://api.github.com/users/maxjacobson/gists{/gist_id}","starred_url":"https://api.github.com/users/maxjacobson/s[...]
