---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/lao9/orgs?access_token=<ACCESS_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4987'
      X-Ratelimit-Reset:
      - '1494467885'
      Etag:
      - W/"2dda5d43b832b924b2b7de50a76fb253"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - "<GITHUB_ID>"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"Duke-Medical-Instrumentation","id":5090472,"url":"https://api.github.com/orgs/Duke-Medical-Instrumentation","repos_url":"https://api.github.com/orgs/Duke-Medical-Instrumentation/repos","events_url":"https://api.github.com/orgs/Duke-Medical-Instrumentation/events","hooks_url":"https://api.github.com/orgs/Duke-Medical-Instrumentation/hooks","issues_url":"https://api.github.com/orgs/Duke-Medical-Instrumentation/issues","members_url":"https://api.github.com/orgs/Duke-Medical-Instrumentation/members{/member}","public_members_url":"https://api.github.com/orgs/Duke-Medical-Instrumentation/public_members{/member}","avatar_url":"https://avatars2.githubusercontent.com/u/5090472?v=3","description":null}]'
  recorded_at: Thu, 11 May 2017 01:16:46 GMT
recorded_with: VCR 3.0.3
