---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/lao9/repos?access_token=<ACCESS_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4983'
      X-Ratelimit-Reset:
      - '1494459582'
      Etag:
      - W/"0630eab391677b6d31e408f61ff473bf"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - "<GITHUB_ID>"
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/4068853/repos?access_token=<ACCESS_TOKEN>&page=2>;
        rel="next", <https://api.github.com/user/4068853/repos?access_token=<ACCESS_TOKEN>&page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":90786855,"name":"api_curious_github_loliveri","full_name":"lao9/api_curious_github_loliveri","owner":{"login":"lao9","id":4068853,"avatar_url":"https://avatars1.githubusercontent.com/u/4068853?v=3","gravatar_id":"","url":"https://api.github.com/users/lao9","html_url":"https://github.com/lao9","followers_url":"https://api.github.com/users/lao9/followers","following_url":"https://api.github.com/users/lao9/following{/other_user}","gists_url":"https://api.github.com/users/lao9/gists{/gist_id}","starred_url":"https://api.github.com/users/lao9/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/lao9/subscriptions","organizations_url":"https://api.github.com/users/lao9/orgs","repos_url":"https://api.github.com/users/lao9/repos","events_url":"https://api.github.com/users/lao9/events{/privacy}","received_events_url":"https://api.github.com/users/lao9/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/lao9/api_curious_github_loliveri","description":null,"fork":false,"url":"https://api.github.com/repos/lao9/api_curious_github_loliveri","forks_url":"https://api.github.com/repos/lao9/api_curious_github_loliveri/forks","keys_url":"https://api.github.com/repos/lao9/api_curious_github_loliveri/keys{/key_id}","collaborators_url":"https://api.github.com/repos/lao9/api_curious_github_loliveri/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/lao9/api_curious_github_loliveri/teams","hooks_url":"https://api.github.com/repos/lao9/api_curious_github_loliveri/hooks","issue_events_url":"https://api.github.com/repos/lao9/api_curious_github_loliveri/issues/events{/number}","events_url":"https://api.github.com/repos/lao9/api_curious_github_loliveri/events","assignees_url":"https://api.github.com/repos/lao9/api_curious_github_loliveri/assignees{/user}","branches_url":"https://api.github.com/repos/lao9/api_curious_github_loliveri/branches{/branch}","tags_url":"https://api.github.com/repos/lao9/api_curious_github_loliveri/tags","blobs_url":"https://api.github.com/repos/lao9/api_curious_github_loliveri/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/lao9/api_curious_github_loliveri/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/lao9/api_curious_github_loliveri/git/refs{/sha}","trees_url":"https://api.github.com/repos/lao9/api_curious_github_loliveri/git/trees{/sha}","statuses_url":"https://api.github.com/repos/lao9/api_curious_github_loliveri/statuses/{sha}","languages_url":"https://api.github.com/repos/lao9/api_curious_github_loliveri/languages","stargazers_url":"https://api.github.com/repos/lao9/api_curious_github_loliveri/stargazers","contributors_url":"https://api.github.com/repos/lao9/api_curious_github_loliveri/contributors","subscribers_url":"https://api.github.com/repos/lao9/api_curious_github_loliveri/subscribers","subscription_url":"https://api.github.com/repos/lao9/api_curious_github_loliveri/subscription","commits_url":"https://api.github.com/repos/lao9/api_curious_github_loliveri/commits{/sha}","git_commits_url":"https://api.github.com/repos/lao9/api_curious_github_loliveri/git/commits{/sha}","comments_url":"https://api.github.com/repos/lao9/api_curious_github_loliveri/comments{/number}","issue_comment_url":"https://api.github.com/repos/lao9/api_curious_github_loliveri/issues/comments{/number}","contents_url":"https://api.github.com/repos/lao9/api_curious_github_loliveri/contents/{+path}","compare_url":"https://api.github.com/repos/lao9/api_curious_github_loliveri/compare/{base}...{head}","merges_url":"https://api.github.com/repos/lao9/api_curious_github_loliveri/merges","archive_url":"https://api.github.com/repos/lao9/api_curious_github_loliveri/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/lao9/api_curious_github_loliveri/downloads","issues_url":"https://api.github.com/repos/lao9/api_curious_github_loliveri/issues{/number}","pulls_url":"https://api.github.com/repos/lao9/api_curious_github_loliveri/pulls{/number}","milestones_url":"https://api.github.com/repos/lao9/api_curious_github_loliveri/milestones{/number}","notifications_url":"https://api.github.com/repos/lao9/api_curious_github_loliveri/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/lao9/api_curious_github_loliveri/labels{/name}","releases_url":"https://api.github.com/repos/lao9/api_curious_github_loliveri/releases{/id}","deployments_url":"https://api.github.com/repos/lao9/api_curious_github_loliveri/deployments","created_at":"2017-05-09T20:02:25Z","updated_at":"2017-05-09T20:28:41Z","pushed_at":"2017-05-10T22:47:16Z","git_url":"git://github.com/lao9/api_curious_github_loliveri.git","ssh_url":"git@github.com:lao9/api_curious_github_loliveri.git","clone_url":"https://github.com/lao9/api_curious_github_loliveri.git","svn_url":"https://github.com/lao9/api_curious_github_loliveri","homepage":null,"size":56,"stargazers_count":1,"watchers_count":1,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":1,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":82723832,"name":"black-thursday-project","full_name":"lao9/black-thursday-project","owner":{"login":"lao9","id":4068853,"avatar_url":"https://avatars1.githubusercontent.com/u/4068853?v=3","gravatar_id":"","url":"https://api.github.com/users/lao9","html_url":"https://github.com/lao9","followers_url":"https://api.github.com/users/lao9/followers","following_url":"https://api.github.com/users/lao9/following{/other_user}","gists_url":"https://api.github.com/users/lao9/gists{/gist_id}","s[...]
