---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/lao9/starred
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '43'
      X-Ratelimit-Reset:
      - '1494452033'
      Etag:
      - W/"ea6d632b256b92868dd8c04973f0b2ae"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"id":82723832,"name":"black-thursday-project","full_name":"lao9/black-thursday-project","owner":{"login":"lao9","id":4068853,"avatar_url":"https://avatars1.githubusercontent.com/u/4068853?v=3","gravatar_id":"","url":"https://api.github.com/users/lao9","html_url":"https://github.com/lao9","followers_url":"https://api.github.com/users/lao9/followers","following_url":"https://api.github.com/users/lao9/following{/other_user}","gists_url":"https://api.github.com/users/lao9/gists{/gist_id}","starred_url":"https://api.github.com/users/lao9/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/lao9/subscriptions","organizations_url":"https://api.github.com/users/lao9/orgs","repos_url":"https://api.github.com/users/lao9/repos","events_url":"https://api.github.com/users/lao9/events{/privacy}","received_events_url":"https://api.github.com/users/lao9/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/lao9/black-thursday-project","description":null,"fork":false,"url":"https://api.github.com/repos/lao9/black-thursday-project","forks_url":"https://api.github.com/repos/lao9/black-thursday-project/forks","keys_url":"https://api.github.com/repos/lao9/black-thursday-project/keys{/key_id}","collaborators_url":"https://api.github.com/repos/lao9/black-thursday-project/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/lao9/black-thursday-project/teams","hooks_url":"https://api.github.com/repos/lao9/black-thursday-project/hooks","issue_events_url":"https://api.github.com/repos/lao9/black-thursday-project/issues/events{/number}","events_url":"https://api.github.com/repos/lao9/black-thursday-project/events","assignees_url":"https://api.github.com/repos/lao9/black-thursday-project/assignees{/user}","branches_url":"https://api.github.com/repos/lao9/black-thursday-project/branches{/branch}","tags_url":"https://api.github.com/repos/lao9/black-thursday-project/tags","blobs_url":"https://api.github.com/repos/lao9/black-thursday-project/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/lao9/black-thursday-project/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/lao9/black-thursday-project/git/refs{/sha}","trees_url":"https://api.github.com/repos/lao9/black-thursday-project/git/trees{/sha}","statuses_url":"https://api.github.com/repos/lao9/black-thursday-project/statuses/{sha}","languages_url":"https://api.github.com/repos/lao9/black-thursday-project/languages","stargazers_url":"https://api.github.com/repos/lao9/black-thursday-project/stargazers","contributors_url":"https://api.github.com/repos/lao9/black-thursday-project/contributors","subscribers_url":"https://api.github.com/repos/lao9/black-thursday-project/subscribers","subscription_url":"https://api.github.com/repos/lao9/black-thursday-project/subscription","commits_url":"https://api.github.com/repos/lao9/black-thursday-project/commits{/sha}","git_commits_url":"https://api.github.com/repos/lao9/black-thursday-project/git/commits{/sha}","comments_url":"https://api.github.com/repos/lao9/black-thursday-project/comments{/number}","issue_comment_url":"https://api.github.com/repos/lao9/black-thursday-project/issues/comments{/number}","contents_url":"https://api.github.com/repos/lao9/black-thursday-project/contents/{+path}","compare_url":"https://api.github.com/repos/lao9/black-thursday-project/compare/{base}...{head}","merges_url":"https://api.github.com/repos/lao9/black-thursday-project/merges","archive_url":"https://api.github.com/repos/lao9/black-thursday-project/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/lao9/black-thursday-project/downloads","issues_url":"https://api.github.com/repos/lao9/black-thursday-project/issues{/number}","pulls_url":"https://api.github.com/repos/lao9/black-thursday-project/pulls{/number}","milestones_url":"https://api.github.com/repos/lao9/black-thursday-project/milestones{/number}","notifications_url":"https://api.github.com/repos/lao9/black-thursday-project/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/lao9/black-thursday-project/labels{/name}","releases_url":"https://api.github.com/repos/lao9/black-thursday-project/releases{/id}","deployments_url":"https://api.github.com/repos/lao9/black-thursday-project/deployments","created_at":"2017-02-21T20:27:50Z","updated_at":"2017-05-09T21:42:45Z","pushed_at":"2017-03-13T07:09:14Z","git_url":"git://github.com/lao9/black-thursday-project.git","ssh_url":"git@github.com:lao9/black-thursday-project.git","clone_url":"https://github.com/lao9/black-thursday-project.git","svn_url":"https://github.com/lao9/black-thursday-project","homepage":null,"size":987,"stargazers_count":1,"watchers_count":1,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":1,"default_branch":"master"},{"id":90786855,"name":"api_curious_github_loliveri","full_name":"lao9/api_curious_github_loliveri","owner":{"login":"lao9","id":4068853,"avatar_url":"https://avatars1.githubusercontent.com/u/4068853?v=3","gravatar_id":"","url":"https://api.github.com/users/lao9","html_url":"https://github.com/lao9","followers_url":"https://api.github.com/users/lao9/followers","following_url":"https://api.github.com/users/lao9/following{/other_user}","gists_url":"https://api.github.com/users/lao9/gists{[...]
