<% @github_users.each_with_index do |github_user, index| %>
  <div class="flex-conatiner well <%= "user_#{index}" %>">
    <div>
      <h3><%= github_user.username %></h3>
    </div>
    <div class="avatar">
      <img src="<%= github_user.image_url %>" alt="<%= github_user.username %>" height='200px'>
    </div>
  </div>
<% end %>
